ion-content{
    
    #titlu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    
    
}

.backgroud{
  --background: url('/assets/backgrounds/graffity.jpg') 0 0/100% 100% no-repeat center center / cover;
}