<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="start" name="search" shape="round" color="secondary"></ion-icon> 
      </ion-button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="titlu">
    <h1>Art</h1>
    <h1>Maps</h1>
  </div>
  <div id="butonlogin">
    <ion-button routerLink="/login">Log In</ion-button>
  </div>
  <div>
    <ion-button routerLink="/signup">Sign Up</ion-button>
  </div>

  
</ion-content>
