<style>
  .center{  
  background-color: #008C76FF;
  font-family: robotobold;
  font-weight: bold;
  font-size: x-large;
  }
</style>

<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color=#008C76FF routerLink="/home">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/signup">Sign up</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>Log in</h1>
    <img src="assets/backgrounds/basic.jpeg" />
  </div>

  <form id="form">
    <app-input placeholder="Email"></app-input>
    <app-input type="password" placeholder="Password"></app-input>
    <ion-button class="center" color=#008C76FF expand="block" shape="round">Log in</ion-button>
  </form>
</ion-content>